@font-face {
  font-family: odin;
  src: url(./fonts/Norse-Bold.otf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}